

.glass-effect {
    background: rgba(255, 125, 158, 0.1);      /* Trasparenza bianca */
    backdrop-filter: blur(70px);               /* Sfocatura dietro */
    -webkit-backdrop-filter: blur(50px);       /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordo luminoso */
    border-radius: 16px;                       /* Angoli arrotondati */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Ombra profonda */
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100px;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
}

body{
    background-color:lightslategrey;
}

.home, .prenotazioni, .servizi, .info, .spazio {
    background-color: orange;
    height: 100px;
    color: white;
    text-align: center;
}

.home-form, .prenotazioni-form, .servizi-form, .info-form{
    height: 100%;
}

.nextbtn {
    background-color: darkred;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
    /* padding: 32px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nextbtn:hover {
    background-color: saddlebrown;
}

