
.piece-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color:purple;
}

.piece-image {
    width: 100px;
    height: auto;
    margin-right: 1rem;
    background-color:white;
}

.piece-info {
    display: flex;
    flex-grow: 1;
    background-color:blue;
}

.piece-title {
    font-size: 16px;
    font-weight: 600;
    background-color:orange;
}

.piece-time {
    font-size: 0.9rem;
    opacity: 0.7;
    text-align: right;
    background-color:red;
}

.dashboard {
    width: 100%;
    background-color:black;
}


