<!-- Schermata per decidere quale genere di visita del dentista il paziente voglia scegliere -->
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Dentista</title>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='piece.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

    </head>

    <body class="dentista">

        <!-- Contenitore del pulsante undo -->
        <div class="back-div">
            <form action="{{ url_for('appuntamento') }}" method="get">
                <button type="submit" class="back-btn">
                    <img src="{{ url_for('static', filename='icone/indietro_btn.png') }}" class="back-icon" alt="Indietro">
                </button>
            </form>
        </div>

        <!-- Contenitore del dentista -->
        <div class="container-all">

            <!-- Messaggio h2 -->
            <h2>Seleziona una tipologia di visita:</h2>

            <!-- Invia la tua scelta alla schermata di prenotazione -->
            <form action="{{ url_for('sceltadentist') }}" method="get">
                <input type="hidden" name="deninput" id="deninput">

                <!-- Pulsante per il tipo di visita Otturazione -->
                <button type="submit" name="servizio" id="den1" value="otturazione" class="dashboard">
                    <div class="piece-all">
                        <img src="{{ url_for('static', filename='icone/dentista.png') }}" alt="Dentista" class="piece-image">

                        <div class="piece-info">
                            <span class="piece-title">Otturazione</span>
                        </div>

                        <span class="piece-time">30 min</span>
                    </div>
                </button>

                <!-- Pulsante per il tipo di visita Impianto -->
                <button type="submit" name="servizio" id="den2" value="impianto" class="dashboard">
                    <div class="piece-all">
                        <img src="{{ url_for('static', filename='icone/dentista.png') }}" alt="Dentista" class="piece-image">

                        <div class="piece-info">
                            <span class="piece-title">Impianto</span>
                        </div>

                        <span class="piece-time">45 min</span>
                    </div>
                </button>

                <!-- Pulsante per il tipo di visita Controllo -->
                <button type="submit" name="servizio" id="den3" value="controllo" class="dashboard">
                    <div class="piece-all">
                        <img src="{{ url_for('static', filename='icone/dentista.png') }}" alt="Dentista" class="piece-image">

                        <div class="piece-info">
                            <span class="piece-title">Controllo</span>
                        </div>

                        <span class="piece-time">20 min</span>
                    </div>
                </button>
            </form>
        </div>

        <script>

            const den1 = document.getElementById("den1"); // costante referente del pulsante Otturazione
            const den2 = document.getElementById("den2"); // costante referente del pulsante Impianto
            const den3 = document.getElementById("den3"); // costante referente del pulsante Controllo
            const denInput = document.getElementById("deninput") //costante che cambia in base al click apposito

            // se clicchi den1, allora il valore sarà Otturazione
            den1.addEventListener("click", () => {

                denInput.value = "Otturazione";
            });

            // se clicchi den2, allora il valore sarà Impianto
            den2.addEventListener("click", () => {

                denInput.value = "Impianto";
            });

            // se clicchi den3, allora il valore sarà Controllo
            den3.addEventListener("click", () => {

                denInput.value = "Controllo";
            });

        </script>
    </body>
</html>