<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dentista</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='piece.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

</head>

<body class="dentista">


<div class="back-div">
    <form action="{{ url_for('appuntamento') }}" method="get">
        <button type="submit" class="back-btn">
            <--
        </button>
    </form>
</div>

<div class="container-all">
    <h2>Seleziona una tipologia di visita:</h2>
    <form action="{{ url_for('sceltadentist') }}" method="get">
        <input type="hidden" name="deninput" id="deninput">
        <button type="submit" name="servizio" id="den1" value="otturazione" class="dashboard">
            <div class="piece-all">
                <img src="{{ url_for('static', filename='icone/dentista.png') }}"
                     alt="Dentista" class="piece-image">

                <div class="piece-info">
                    <span class="piece-title">Otturazione</span>
                </div>

                <span class="piece-time">30 min</span>
            </div>
        </button>
    <!--</form>-->

    <!--<form action="{{ url_for('sceltadentist') }}" method="get">-->
        <button type="submit" name="servizio" id="den2" value="impianto" class="dashboard">
            <div class="piece-all">
                <img src="{{ url_for('static', filename='icone/dentista.png') }}"
                     alt="Dentista" class="piece-image">

                <div class="piece-info">
                    <span class="piece-title">Impianto</span>
                </div>

                <span class="piece-time">45 min</span>
            </div>
        </button>
    <!--</form>-->

    <!--<form action="{{ url_for('sceltadentist') }}" method="get">-->
        <button type="submit" name="servizio" id="den3" value="controllo" class="dashboard">
            <div class="piece-all">
                <img src="{{ url_for('static', filename='icone/dentista.png') }}"
                     alt="Dentista" class="piece-image">

                <div class="piece-info">
                    <span class="piece-title">Controllo</span>
                </div>

                <span class="piece-time">20 min</span>
            </div>
        </button>
    </form>
</div>
<script>


    const den1 = document.getElementById("den1");
    const den2 = document.getElementById("den2");
    const den3 = document.getElementById("den3");
    //const hygInput = document.getElementById("hyg1input") || document.getElementById("hyg2input") || document.getElementById("hyg3input");
    const denInput = document.getElementById("deninput")

    den1.addEventListener("click", () => {

        denInput.value = "Otturazione";
    });



    den2.addEventListener("click", () => {

        denInput.value = "Impianto";
    });



    den3.addEventListener("click", () => {

        denInput.value = "Controllo";
    });




</script>

</body>
</html>