<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Igienista</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='piece.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

</head>

<body class="igienista">


<div class="back-div">
    <form action="{{ url_for('appuntamento') }}" method="get">
        <button type="submit" class="back-btn">
            <--
        </button>
    </form>
</div>

<div class="container-all">
    <h2>Seleziona una tipologia di visita:</h2>
<form action="{{ url_for('sceltahygienist') }}" method="get">
    <input type="hidden" name="hyginput" id="hyginput">
<!--    <input type="hidden" name="hyg1input" id="hyg1input">-->
    <button type="submit" name="servizio" id="hyg1" value="pulizia" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/igienista.png') }}"
                 alt="Igienista" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Pulizia dei denti</span>
            </div>

            <span class="piece-time">15 min</span>
        </div>
    </button>
<!--</form>-->

<!--<form action="{{ url_for('sceltahygienist') }}" method="get">-->
<!--    <input type="hidden" name="hyg2input" id="hyg2input">-->
    <button type="submit" name="servizio" id="hyg2" value="sbiancamento" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/igienista.png') }}"
                 alt="Igienista" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Sbiancamento</span>
            </div>

            <span class="piece-time">30 min</span>
        </div>
    </button>
<!--</form>-->

<!--<form action="{{ url_for('sceltahygienist') }}" method="get">-->
<!--    <input type="hidden" name="hyg3input" id="hyg3input">-->
    <button type="submit" name="servizio" id="hyg3" value="controllo" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/igienista.png') }}"
                 alt="Igienista" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Controllo</span>
            </div>

            <span class="piece-time">10 min</span>
        </div>
    </button>
</form>
</div>
<script>


    const hyg1 = document.getElementById("hyg1");
    const hyg2 = document.getElementById("hyg2");
    const hyg3 = document.getElementById("hyg3");
    //const hygInput = document.getElementById("hyg1input") || document.getElementById("hyg2input") || document.getElementById("hyg3input");
    const hygInput = document.getElementById("hyginput")

    hyg1.addEventListener("click", () => {

        hygInput.value = "Pulizia dei denti";
    });



    hyg2.addEventListener("click", () => {

        hygInput.value = "Sbiancamento";
    });



    hyg3.addEventListener("click", () => {

        hygInput.value = "Controllo";
    });




</script>

</body>
</html>