<!-- Schermata per prenotare il dentista -->
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Scelta Dentista</title>
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='scelta.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

    </head>

    <body>

        <!-- Contenitore del pulsante undo -->
        <div class="back-div">
            <form action="{{ url_for('dentist') }}" method="get">
                <button type="submit" class="back-btn">
                    <img src="{{ url_for('static', filename='icone/indietro_btn.png') }}" class="back-icon" alt="Indietro">
                </button>
            </form>
        </div>

        <!-- Container generale -->
        <div class="scelta-container">

            <!-- Colonna generale gestita alla sinistra dello schermo -->
            <div class="scelte-left">

                <!-- Contenitore del messaggio -->
                <div class="scelta-section">
                    <div class="scelta-title">Scegli il dentista</div>
                    <button type="button" id="salvatore">Salvatore</button>
                    <button type="button" id="gaetano">Gaetano</button>
                </div>

                <!-- Contenitore della selezione del giorno -->
                <div class="scelta-section">
                    <div class="scelta-title">Scegli il giorno</div>
                    <button type="button" id="giornouno">Lunedì 9 Febbraio</button>
                    <button type="button" id="giornodue">Martedì 10 Febbraio</button>
                    <button type="button" id="giornotre">Mercoledì 11 Febbraio</button>
                </div>

                <!-- Contenitore della selezione dell'orario -->
                <div class="scelta-section">
                    <div class="scelta-title">Scegli l’orario</div>
                    <button type="button" id="oresedici">16:00</button>
                    <button type="button" id="orediciassette">17:00</button>
                    <button type="button" id="orediciotto">18:00</button>
                    <p id="no-orari" class="nascosto">Nessun orario disponibile!</p>
                </div>

            </div>

            <!-- Colonna generale gestita alla destra dello schermo -->
            <div class="conferma-wrapper">
                <form action="{{ url_for('conferma') }}" method="get">
                    <input type="hidden" name="scopo" id="scopoInput">
                    <input type="hidden" name="matricola" id="matricola">
                    <input type="hidden" name="giorno" id="giorno">
                    <input type="hidden" name="ore" id="oreInput">

                    <button type="submit" class="conferma">Conferma</button>
                </form>
            </div>
        </div>

        <script>

            const salvatore = document.getElementById("salvatore"); // costante referente del pulsante salvatore
            const gaetano = document.getElementById("gaetano"); // costante referente del pulsante michele
            const matricolaInput = document.getElementById("matricola"); //costante che cambia in base al click apposito

            const giornouno = document.getElementById("giornouno"); // costante referente del pulsante giornouno
            const giornodue = document.getElementById("giornodue"); // costante referente del pulsante giornodue
            const giornotre = document.getElementById("giornotre"); // costante referente del pulsante giornotre
            const giornoInput = document.getElementById("giorno"); //costante che cambia in base al click apposito

            const oresedici = document.getElementById("oresedici"); // costante referente delle oresedici
            const orediciassette = document.getElementById("orediciassette"); // costante referente delle orediciassette
            const orediciotto = document.getElementById("orediciotto"); // costante referente delle orediciotto
            const oreInput = document.getElementById("oreInput"); //costante che cambia in base al click apposito

            const tipoVisita = "{{ deninput }}"; // costante referente del contenuto della variabile {{ deninput }}
            document.getElementById("scopoInput").value = tipoVisita; //associa questa variabile come valore di scopoInput

            // se clicchi oresedici, allora attiva le 16:00
            oresedici.addEventListener("click", () => {
                oresedici.classList.add("selected");
                orediciassette.classList.remove("selected");
                orediciotto.classList.remove("selected");
                oreInput.value = 16;
            });

            // se clicchi orediciassette, allora attiva le 17:00
            orediciassette.addEventListener("click", () => {
                oresedici.classList.remove("selected");
                orediciassette.classList.add("selected");
                orediciotto.classList.remove("selected");
                oreInput.value = 17;
            });

            // se clicchi orediciotto, allora attiva le 18:00
            orediciotto.addEventListener("click", () => {
                oresedici.classList.remove("selected");
                orediciassette.classList.remove("selected");
                orediciotto.classList.add("selected");
                oreInput.value = 18;
            });

            // se clicchi salvatore, allora il medico sarà Salvatore
            salvatore.addEventListener("click", () => {
                salvatore.classList.add("selected");
                gaetano.classList.remove("selected");
                matricolaInput.value = "0124003081";
            });

            // se clicchi gaetano, allora il medico sarà Gaetano
            gaetano.addEventListener("click", () => {
                gaetano.classList.add("selected");
                salvatore.classList.remove("selected");
                matricolaInput.value = "0124002915";
            });

            // se clicchi giornouno, allora il valore sarà il Lunedì 9 Febbraio 2026
            giornouno.addEventListener("click", () => {
                let op = 0; // variabile che conta il numero di ore disponibili
                document.getElementById("no-orari").classList.add("nascosto");

                giornouno.classList.add("selected");
                giornodue.classList.remove("selected");
                giornotre.classList.remove("selected");
                giornoInput.value = "2026-02-09";

                // visualizza solo gli orari disponibili
                fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.ok) return;

                        // reset
                        oresedici.classList.add("hidden");
                        orediciassette.classList.add("hidden");
                        orediciotto.classList.add("hidden");

                        // mostra solo quelli disponibili
                        if (data.ore_disponibili.includes(16)) {
                            oresedici.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(17)) {
                            orediciassette.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(18)) {
                            orediciotto.classList.remove("hidden");
                            op++;
                        }
                        if (op === 0) { // Nessun orario disponibile!
                            document.getElementById("no-orari").classList.remove("nascosto");
                        }
                    })
                    .catch(err => console.error(err));
            });

            // se clicchi giornodue, allora il valore sarà il Martedì 10 Febbraio 2026
            giornodue.addEventListener("click", () => {
                let op = 0; // variabile che conta il numero di ore disponibili
                document.getElementById("no-orari").classList.add("nascosto");

                giornouno.classList.remove("selected");
                giornodue.classList.add("selected");
                giornotre.classList.remove("selected");
                giornoInput.value = "2026-02-10";

                // visualizza solo gli orari disponibili
                fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.ok) return;

                        // reset
                        oresedici.classList.add("hidden");
                        orediciassette.classList.add("hidden");
                        orediciotto.classList.add("hidden");

                        // mostra solo quelli disponibili
                        if (data.ore_disponibili.includes(16)) {
                            oresedici.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(17)) {
                            orediciassette.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(18)) {
                            orediciotto.classList.remove("hidden");
                            op++;
                        }
                        if (op === 0) { // Nessun orario disponibile!
                            document.getElementById("no-orari").classList.remove("nascosto");
                        }
                    })
                    .catch(err => console.error(err));
            });

            // se clicchi giornotre, allora il valore sarà il Mercoledì 11 Febbraio 2026
            giornotre.addEventListener("click", () => {
                let op = 0; // variabile che conta il numero di ore disponibili
                document.getElementById("no-orari").classList.add("nascosto");

                giornouno.classList.remove("selected");
                giornodue.classList.remove("selected");
                giornotre.classList.add("selected");
                giornoInput.value = "2026-02-11";

                // visualizza solo gli orari disponibili
                fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.ok) return;

                        // reset
                        oresedici.classList.add("hidden");
                        orediciassette.classList.add("hidden");
                        orediciotto.classList.add("hidden");

                        // mostra solo quelli disponibili
                        if (data.ore_disponibili.includes(16)) {
                            oresedici.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(17)) {
                            orediciassette.classList.remove("hidden");
                            op++;
                        }
                        if (data.ore_disponibili.includes(18)) {
                            orediciotto.classList.remove("hidden");
                            op++;
                        }
                        if (op === 0) { // Nessun orario disponibile!
                            document.getElementById("no-orari").classList.remove("nascosto");
                        }
                    })
                    .catch(err => console.error(err));
            });

            /* Puoi cliccare Conferma solo se hai selezionato sia il medico, che il giorno che l'ora */
            document.querySelector(".conferma").addEventListener("click", (e) => {
                if (!matricolaInput.value || !giornoInput.value || !oreInput.value) {
                    e.preventDefault();
                    alert("Seleziona dentista, giorno e ora prima di confermare");
                }
            });
        </script>
    </body>
</html>