<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scelta Dentista</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scelta.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

</head>

<style>

    .nascosto{
        display: none;
    }

</style>

<body>

<div class="back-div">
    <form action="{{ url_for('dentist') }}" method="get">
        <button type="submit" class="back-btn">
            <--
        </button>
    </form>
</div>


<div class="scelta-container">

    <!-- =========================
         COLONNA SINISTRA: SCELTE
    ========================== -->
    <div class="scelte-left">

        <!-- SEZIONE DENTISTA -->
        <div class="scelta-section">
            <div class="scelta-title">Scegli il dentista</div>
            <button type="button" id="salvatore">Salvatore</button>
            <button type="button" id="gaetano">Gaetano</button>
        </div>

        <!-- SEZIONE GIORNO -->
        <div class="scelta-section">
            <div class="scelta-title">Scegli il giorno</div>
            <button type="button" id="giornouno">Lunedì 9 Febbraio</button>
            <button type="button" id="giornodue">Martedì 10 Febbraio</button>
            <button type="button" id="giornotre">Mercoledì 11 Febbraio</button>
        </div>

        <!-- SEZIONE ORARIO -->
        <div class="scelta-section">
            <div class="scelta-title">Scegli l’orario</div>
            <button type="button" id="oresedici">16:00</button>
            <button type="button" id="orediciassette">17:00</button>
            <button type="button" id="orediciotto">18:00</button>
            <p id="no-orari" class="nascosto">Nessun orario disponibile!</p>
        </div>

    </div>

    <!-- =========================
         COLONNA DESTRA: CONFERMA
    ========================== -->
    <div class="conferma-wrapper">
        <form action="{{ url_for('conferma') }}" method="get">
            <input type="hidden" name="scopo" id="scopoInput">
            <input type="hidden" name="matricola" id="matricola">
            <input type="hidden" name="giorno" id="giorno">
            <input type="hidden" name="ore" id="oreInput">

            <button type="submit" class="conferma">Conferma</button>
        </form>
    </div>

</div>

<!-- =========================
     SCRIPT (IDENTICO AL TUO)
========================= -->
<script>
    const salvatore = document.getElementById("salvatore");
    const gaetano = document.getElementById("gaetano");
    const matricolaInput = document.getElementById("matricola");

    const giornouno = document.getElementById("giornouno");
    const giornodue = document.getElementById("giornodue");
    const giornotre = document.getElementById("giornotre");
    const giornoInput = document.getElementById("giorno");

    const oresedici = document.getElementById("oresedici");
    const orediciassette = document.getElementById("orediciassette");
    const orediciotto = document.getElementById("orediciotto");
    const oreInput = document.getElementById("oreInput");

    const tipoVisita = "{{ deninput }}";
    document.getElementById("scopoInput").value = tipoVisita;

    /* ORARI */
    oresedici.addEventListener("click", () => {
        oresedici.classList.add("selected");
        orediciassette.classList.remove("selected");
        orediciotto.classList.remove("selected");
        oreInput.value = 16;
    });

    orediciassette.addEventListener("click", () => {
        oresedici.classList.remove("selected");
        orediciassette.classList.add("selected");
        orediciotto.classList.remove("selected");
        oreInput.value = 17;
    });

    orediciotto.addEventListener("click", () => {
        oresedici.classList.remove("selected");
        orediciassette.classList.remove("selected");
        orediciotto.classList.add("selected");
        oreInput.value = 18;
    });

    /* DENTISTA */
    salvatore.addEventListener("click", () => {
        salvatore.classList.add("selected");
        gaetano.classList.remove("selected");
        matricolaInput.value = "0124003081";
    });

    gaetano.addEventListener("click", () => {
        gaetano.classList.add("selected");
        salvatore.classList.remove("selected");
        matricolaInput.value = "0124002915";
    });

    /* GIORNI */
    giornouno.addEventListener("click", () => {
        let op = 0;
        document.getElementById("no-orari").classList.add("nascosto");

        giornouno.classList.add("selected");
        giornodue.classList.remove("selected");
        giornotre.classList.remove("selected");
        giornoInput.value = "2026-02-09";

        fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
            .then(res => res.json())
            .then(data => {
                if (!data.ok) return;

                // reset
                oresedici.classList.add("hidden");
                orediciassette.classList.add("hidden");
                orediciotto.classList.add("hidden");

                // mostra solo quelli disponibili
                if (data.ore_disponibili.includes(16)) {
                    oresedici.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(17)) {
                    orediciassette.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(18)) {
                    orediciotto.classList.remove("hidden");
                    op++;
                }
                if (op === 0) {
                    document.getElementById("no-orari").classList.remove("nascosto");
                }
            })
            .catch(err => console.error(err));
    });

    giornodue.addEventListener("click", () => {
        let op = 0;
        document.getElementById("no-orari").classList.add("nascosto");

        giornouno.classList.remove("selected");
        giornodue.classList.add("selected");
        giornotre.classList.remove("selected");
        giornoInput.value = "2026-02-10";

        fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
            .then(res => res.json())
            .then(data => {
                if (!data.ok) return;

                // reset
                oresedici.classList.add("hidden");
                orediciassette.classList.add("hidden");
                orediciotto.classList.add("hidden");

                // mostra solo quelli disponibili
                if (data.ore_disponibili.includes(16)) {
                    oresedici.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(17)) {
                    orediciassette.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(18)) {
                    orediciotto.classList.remove("hidden");
                    op++;
                }
                if (op === 0) {
                    document.getElementById("no-orari").classList.remove("nascosto");
                }
            })
            .catch(err => console.error(err));
    });

    giornotre.addEventListener("click", () => {
        let op = 0;
        document.getElementById("no-orari").classList.add("nascosto");

        giornouno.classList.remove("selected");
        giornodue.classList.remove("selected");
        giornotre.classList.add("selected");
        giornoInput.value = "2026-02-11";

        fetch(`/api/disponibilita-orari?matricola=${matricolaInput.value}&giorno=${giornoInput.value}`)
            .then(res => res.json())
            .then(data => {
                if (!data.ok) return;

                // reset
                oresedici.classList.add("hidden");
                orediciassette.classList.add("hidden");
                orediciotto.classList.add("hidden");

                // mostra solo quelli disponibili
                if (data.ore_disponibili.includes(16)) {
                    oresedici.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(17)) {
                    orediciassette.classList.remove("hidden");
                    op++;
                }
                if (data.ore_disponibili.includes(18)) {
                    orediciotto.classList.remove("hidden");
                    op++;
                }
                if (op === 0) {
                    document.getElementById("no-orari").classList.remove("nascosto");
                }
            })
            .catch(err => console.error(err));
    });

    /* CONFERMA */
    document.querySelector(".conferma").addEventListener("click", (e) => {
        if (!matricolaInput.value || !giornoInput.value || !oreInput.value) {
            e.preventDefault();
            alert("Seleziona dentista, giorno e ora prima di confermare");
        }
    });
</script>

</body>
</html>