<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chirurgo</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='piece.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">

</head>

<body class="surgeon">


<div class="back-div">
    <form action="{{ url_for('appuntamento') }}" method="get">
        <button type="submit" class="back-btn">
            <--
        </button>
    </form>
</div>

<div class="container-all">
    <h2>Seleziona una tipologia di visita:</h2>
<form action="{{ url_for('sceltasurgeon') }}" method="get">
    <input type="hidden" name="surinput" id="surinput">
    <button type="submit" name="servizio" id="sur1"  value="estrazione" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/chirurgo.png') }}"
                 alt="Chirurgo" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Estrazione dente del giudizio</span>
            </div>

            <span class="piece-time">30 min</span>
        </div>
    </button>
<!--</form>-->

<!--<form action="{{ url_for('sceltasurgeon') }}" method="get">-->
    <button type="submit" name="servizio" id="sur2"  value="chirurgia2" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/chirurgo.png') }}"
                 alt="Chirurgo" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Chirurgia orale</span>
            </div>

            <span class="piece-time">45 min</span>
        </div>
    </button>
<!--</form>-->

<!--<form action="{{ url_for('sceltasurgeon') }}" method="get">-->
    <button type="submit" name="servizio" id="sur3"  value="chirurgia3" class="dashboard">
        <div class="piece-all">
            <img src="{{ url_for('static', filename='icone/chirurgo.png') }}"
                 alt="Chirurgo" class="piece-image">

            <div class="piece-info">
                <span class="piece-title">Intervento complesso</span>
            </div>

            <span class="piece-time">60 min</span>
        </div>
    </button>
</form>
</div>
<script>


    const sur1 = document.getElementById("sur1");
    const sur2 = document.getElementById("sur2");
    const sur3 = document.getElementById("sur3");
    //const surInput = document.getElementById("sur1input") || document.getElementById("sur2input") || document.getElementById("sur3input");
    const surInput = document.getElementById("surinput")

    sur1.addEventListener("click", () => {

        surInput.value = "Pulizia dei denti";
    });



    sur2.addEventListener("click", () => {

        surInput.value = "Sbiancamento";
    });



    sur3.addEventListener("click", () => {

        surInput.value = "Controllo";
    });




</script>

</body>
</html>