<!-- Schermata del bottom -->
<div class="bottom">

    <!-- Contenitore della Home -->
    <div class="home active">
        <form action="{{ url_for('home') }}" method="get" class="home-form">
            <button type="submit" class="nextbtn">
                <img src="{{ url_for('static', filename='icone_tab_bar/home_no_bg.png') }}" alt="Home">
                <span>Home</span>
            </button>
        </form>
    </div>

    <!-- Contenitore delle Prenotazioni -->
    <div class="prenotazioni">
        <form action="{{ url_for('prenotazioni') }}" method="get" class="prenotazioni-form">
            <button type="submit" class="nextbtn">
                <img src="{{ url_for('static', filename='icone_tab_bar/prenotazioni_no_bg.png') }}" alt="Prenotazioni">
                <span>Prenotazioni</span>
            </button>
        </form>
    </div>

    <!-- Contenitore delle Info -->
    <div class="info">
        <form action="{{ url_for('info') }}" method="get" class="info-form">
            <button type="submit" class="nextbtn">
                <img src="{{ url_for('static', filename='icone_tab_bar/info_no_bg.png') }}" alt="Info">
                <span>Info</span>
            </button>
        </form>
    </div>

</div>