

.glass-effect {
    background: rgba(255, 125, 158, 0.1);      /* Trasparenza bianca */
    backdrop-filter: blur(70px);               /* Sfocatura dietro */
    -webkit-backdrop-filter: blur(50px);       /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordo luminoso */
    border-radius: 16px;                       /* Angoli arrotondati */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3); /* Ombra profonda */
}

.grid-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:red;
    height: 100px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.w1 {
    background-color:#199FD6;
    height: 100px;
    color: white;
    text-align: center;
}

.w2 {
    background-color:#199FD6;
    height: 100px;
    color: white;
    text-align: center;
}

.w3 {
    background-color:#199FD6;
    height: 100px;
    color: white;
    text-align: center;
}

.w4 {
    background-color:#199FD6;
    height: 100px;
    color: white;
    text-align: center;
}

.w5 {
    background-color:#199FD6;
    height: 100px;
    color: white;
    text-align: center;
}

.testbtn1 {
    background-color: #17e497;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 100%;
    /* padding: 32px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.testbtn1:hover {
    background-color: red;
}

